VITE_PORT=26641
VITE_DEFAULT_TIME_SPEED=1
VITE_CAMERA_FOV=60
VITE_CAMERA_NEAR=0.1
VITE_CAMERA_FAR=5000
VITE_CAMERA_INITIAL_X=60
VITE_CAMERA_INITIAL_Y=40
VITE_CAMERA_INITIAL_Z=60
VITE_SIZE_SCALE=0.00005
VITE_DISTANCE_SCALE=0.008
VITE_TIME_SCALE=0.001
VITE_SIZE_MULTIPLIER=8
VITE_MOON_SIZE_MULTIPLIER=15
VITE_MOON_DISTANCE_SCALE=2.5
VITE_SUN_SIZE_RATIO=0.15
